@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

.heading {
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}


@keyframes slideInRight {
    from {
        transform: translateX(300px);
    }

    to {
        transform: translateX(0);
    }
}

.heading2 {
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}


.skills {
    width: 100%;
    height: 100vh;
    /* border: 1px solid; */
    /* margin: 100px; */
    margin-left: 250px;
    margin-bottom: 200px;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    font-size: large;
    margin-bottom: 500px;
}

.project {
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

.beep {
    font-size: 60px;
    cursor: pointer;
    display: flex;
    text-align: center;
    /* border: 1px solid; */
    width: 60px;
    height: 60px;
    /* margin-left: 670px; */
    margin-bottom: 30px;
}

.beep:hover {
    color: blue;
}

.beep2 {
    font-size: 60px;
    cursor: pointer;
    text-align: center;
    /* border: 1px solid; */
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
    margin-left: 50px;

}
.icon-contact{
    margin-left: 670px;
}

.beep2:hover {
    color: blue;
}

@media (max-width: 1050px) {
    .skill {
        display: flex;
        flex-direction: row;
    }

    .icon-contact .beep {
        margin-left: -400px;
    }
}